beautifulsoup4>=4.12.3
bs4>=0.0.2
pycryptodome>=3.20.0
requests>=2.31.0
Pillow>=10.3.0
python-dotenv>=1.0.1
pymongo>=4.7.2
certifi>=2024.2.2
crypto>=1.4.1
selenium>=4.20.0
undetected-chromedriver>=3.5.5